<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dileep.org.myworld">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosir"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosir"
        android:supportsRtl="true"
        android:theme="@style/MenuTheme">
        <activity android:name=".ContactsMessageSending"></activity>
        <activity android:name=".TestMessage" />
        <activity
            android:name=".Addtemplate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Templates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SalesmanInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Addsalesman"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccessoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mobiles"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Allusers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>